# Creative Store

## Site
web/.htaccess

## NodeJS

node_modules/
npm_logs.txt

## WordPress

web/local-config.php
web/wp-config.php
web/shared

### Creative Store Theme

web/content/themes/creative-store/style.css
web/content/themes/creative-store/login.css
