[submodule "system"]
	path = system
	url = https://github.com/WordPress/WordPress.git
[submodule "content/plugins/woocommerce"]
	path = content/plugins/woocommerce
	url = https://github.com/woothemes/woocommerce.git
