/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);

	&:focus {
		display: block;
		top: 5px;
		left: 5px;
		width: auto;
		height: auto;
		padding: $inset-squish-l;
		border-radius: 3px;
		background-color: $color-background-screen;
		color: $color-text-screen;
		font-size: $font-size-medium;
		font-weight: $font-weight-bold;
		line-height: normal;
		text-decoration: none;
		box-shadow: 0 0 2px 2px $color-black;
		z-index: 100000; /* Above WP toolbar. */
		clip: auto !important;
	}
}

/* Do not show the outline on the skip link target. */
.content {
	&[tabindex='-1']:focus {
		outline: 0;
	}
}
