/* =styles/_shop.less
----------------------------------------------- */

/*  Category/Product View
 *
 *  - Controls the products displayed in category
 *    and product views
 *
 */

.products {
  display: table;
  width: 100%;  //  Forces the `ul` to span the width of the parent element
  padding-left: 0;  //  Removes default padding on `ul`
  border-collapse: collapse;
}

  .products:after {
    content: "";
    display: table;
    clear: both;
  }

//  Controls the direct children of the `.products` loop

.product {
  display: table-cell;
  float: left;
  width: 32.03125%;
  margin-left: 1.953125%;
}

.product:nth-child(2n+1){
  margin-left: 1.953125%;
}

.product:nth-child(3n+1){
  margin-left: 0;
}

.product img {
  margin-bottom: 1em;
}
