$size-site-main: 100%;
$size-site-sidebar: 25%;

/** Border. */
$border-width-thin: 1px;
$border-width-thick: 2px;
/* 	icon :
/** Space. */

$space: 16px;
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

/** Inset. */

$inset: 16px 16px 16px 16px;
$inset-xxs: 2px 2px 2px 2px;
$inset-xs: 4px 4px 4px 4px;
$inset-s: 8px 8px 8px 8px;
$inset-m: 16px 16px 16px 16px;
$inset-l: 32px 32px 32px 32px;
$inset-xl: 64px 64px 64px 64px;

$inset-squish: 8px 16px;
$inset-squish-xxs: 1px 2px;
$inset-squish-xs: 2px 4px;
$inset-squish-s: 4px 8px;
$inset-squish-m: 8px 16px;
$inset-squish-l: 16px 32px;
$inset-squish-xl: 32px 64px;

$inset-stretch: 16px 8px;
$inset-stretch-xxs: 2px 1px;
$inset-stretch-xs: 4px 2px;
$inset-stretch-s: 8px 4px;
$inset-stretch-m: 16px 8px;
$inset-stretch-l: 32px 16px;
$inset-stretch-xl: 64px 32px;

/* 	stack :
 	inline :
 	grid :
 layout :
 	row :
 	margin :
 	gutter :
 shadow :
 	block :
 	text :
 size :
 transition :
 timing :
 layers :
 responsive :
 */
