@media (min-width: 500px) {

	.c-field {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

}

.c-field__label {
	order: 1;
	width: 25%;
	font-size: $font-size-large;
}

@media (min-width: 500px) {

	.c-field__input {
		order: 2;
		width: 75%;
	}

}

.c-field__note {
	order: 3;
}

/** */

.c-checkbox {
	/** TBC. */
}

.c-checkbox__input {
	/** TBC. */
}

.c-checkbox__label {
	/** TBC. */
}

.c-textarea__input {
	/** TBC. */
}
